/* Style for our header texts
* --------------------------------------- */
h1 {
  font-size: 5em;
  font-family: arial,helvetica;
  color: #fff;
  margin: 0;
  padding: 0; }

/* Centered texts in each section
* --------------------------------------- */
.section {
  text-align: center;
  background: red;
  background-size: cover; }

/* Backgrounds will cover all the section
* --------------------------------------- */
.slide {
  background-size: cover; }

/* Defining each section background and styles
* --------------------------------------- */
#section1 {
  background-image: url(../img/start-page_image.jpg); }

#section1 h1 {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: relative; }

#section3 {
  background-image: url(imgs/bg3.jpg);
  padding: 6% 0 0 0; }

#section4 {
  background-image: url(imgs/bg4.jpg);
  padding: 6% 0 0 0; }

#section4 h1 {
  color: #000; }

/*Adding background for the slides
* --------------------------------------- */
#slide1 {
  background-image: url(imgs/bg2.jpg);
  padding: 6% 0 0 0; }

#slide2 {
  background-image: url(imgs/bg5.jpg);
  padding: 6% 0 0 0; }

/* Bottom menu
* --------------------------------------- */
#infoMenu li a {
  color: #fff; }
